body {
  text-align: center;
  background: #f3f3f3;
}

.app {

  display: block;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px;
  /* margin: auto; */
  margin-top: 120px;
  width: 100vh;
  height: 60vh;
  padding-top: 50px;
}

/* .App {
  background-color: #fff;
} */

h1 {
  font-size: xl-large;
  text-align: center;
}

input {
  width: 25%;
  height: 24px;
  margin: 10px;
}
select {
  width: 26%;
  height: 24px;
    margin: 10px;

}
.inputs {
  display: block;
  margin: 10px;
}

button {
  font-size: large;
  background-color: rgb(72, 72, 183);
  color: white;
  padding: 10px;
  margin-top: 10px;
}
.message input{
  /* width: 600px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 51%;
  height: 9vh;
}

/* @media screen and (min-width: 370px) {
  body {
  text-align: center;
  /* background: #f3f3f3; */
